<article id="<%= dom_id post %>" class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to post.user.name, post.user %></strong>
        <br>
        <%= post.body %>
        <br>
        <small><%= pluralize(post.likes.count, 'like') %> · <%= pluralize(post.comments.count, 'comment') %>  · <%= time_ago_in_words(post.created_at) %> ago</small>
        <br>
        <small><%= render partial: 'likes/like', locals: { likeable: post } %> · <a>Reply</a></small>
      </p>
    </div>
  </div>
</article>